.App {
  height: 60vh;
  text-align: center;
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  margin: 1rem;
}
body {
/*  background-image: linear-gradient(to left #6699FB, #F961D7)*/
  background-color: #FA97FC;
}
textarea {
  font-size: 3rem;
  margin-bottom: -2rem;
}
@media screen and (max-width: 600px) {

  textarea {
    font-size: 1rem;
  }

}

.logout {
  grid-row-start: 3;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
